<section class="quiz_box_start" [ngClass]="{'quiz_box_end': showQuizBox}" *ngIf="goToQuestions">
  <div class="quiz_questions">
    <p>{{ idSentance }}</p>
    <p>{{ title }}</p>
    <ul>
      <li *ngFor="let answer of answers; let i = index">
        <label [for]="i"><input type="radio" name="answers" [id]="i" [value]="i" (change)="onChange($event)"> {{ answer }}</label>
      </li>
      <li>{{ answerAlert }}</li>
    </ul>
  </div>

  <div class="quiz_images" [ngClass]="{'quiz_images_on': image}">
    <figure>
      <img [src]="image" alt="quizImage" *ngIf="image">
    </figure>
  </div>

  <div class="next_question_button">
    <button type="button" class="next_question_button_start"
    [ngClass]="{'next_question_button_end': showNextQuestionButton}"
    (click)="nextQuestion(this.id)">Dalej</button>
  </div>
</section>

<section class="quiz_summary" *ngIf="goToQuizSummary">
  <p>{{ userName }},</p>
  <p>Quiz florystyczny ukończyłaś/eś z wynikiem:</p>
  <p [ngClass]="{'poor_quiz_score': poorQuizScore}">{{ score }}/{{ numberOfQuestions }}</p>
  <div><img src="assets/floral-decoration.png" alt="logoImage"></div>
  <button type="button" class="summary_report_button" (click)="showQuizSummaryReport()">Zobacz odpowiedzi</button>

  <app-summary *ngIf="goToQuizSummaryReport"></app-summary>
</section>
