.quiz_box_start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 0%;
  min-height: 80%;
  padding: 30px 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
}

.quiz_box_end {
  width: 80%;
  transition: all 1s ease-out;
}

/* quiz questions */
.quiz_questions {
  /* background-color: blue; */
  flex: 1 1 69%;
}

.quiz_questions p {
  font-size: 1.8rem;
}

.quiz_questions p:nth-of-type(1) {
  font-family: "Poetsen One", sans-serif;
  color: #80932b;
}

.quiz_questions ul {
  list-style-type: none;
  font-size: 1.8rem;
}

.quiz_questions input {
  margin-right: 5px;
}

.quiz_questions label {
  text-indent: -23px;
}

.quiz_questions li:last-child {
  height: 1.8rem;
  margin-top: 15px;
  font-style: italic;
  color: rgb(255, 62, 62);
}

/* quiz images */
.quiz_images_off {
  /* background-color: green; */
  flex: 0 1 auto;
}

.quiz_images_on {
  flex: 0 1 31%;
}

.quiz_images_on figure {
  width: 100%;
}

.quiz_images_on img {
  width: 100%;
  object-fit: cover;
}


/* next question button */
.next_question_button {
  /* background-color: yellow; */
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next_question_button_start {
  padding: 0 40px;
  font-family: "Poetsen One", sans-serif;
  font-size: 1.8rem;
  line-height: 3.5rem;
  color: #ff66a3;
  border: none;
  border: 2px solid #ff66a3;
  border-radius: 6px;
  background-color: transparent;
  opacity: 0;
}

.next_question_button_end {
  opacity: 1;
}

.next_question_button_end:hover {
  color: #ff89b8;
  border-color: #ff89b8;
}


/* quiz summary */
.quiz_summary {
  margin-top: 60px;
  text-align: center;
  font-family: "Poetsen One", sans-serif;
  font-size: 2.5rem;
  color: rgb(40, 40, 40);
}

.quiz_summary p:first-child,
.quiz_summary p:last-of-type {
  font-size: 3.5rem;
  margin-bottom: 25px;
}

.quiz_summary p:nth-last-of-type(2) {
  margin-bottom: 8px;
}

.quiz_summary p:last-of-type {
  color: #31724e;
}

.poor_quiz_score {
  color: #B81434 !important;
}

.summary_report_button {
  margin-top: 80px;
  margin-bottom: 30px;
  padding: 0 40px;
  font-family: "Poetsen One", sans-serif;
  font-size: 1.8rem;
  line-height: 3.5rem;
  color: #80932b;
  border: none;
  border: 2px solid #80932b;
  border-radius: 6px;
  background-color: transparent;
}

.summary_report_button:hover {
  color: #93a933;
  border-color: #93a933;
}
