.quiz_box_start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 0%;
  min-height: 85%;
  padding: 30px 35px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
}

.quiz_box_end {
  width: 85%;
  transition: all 1s ease-out;
}


/* quiz questions */
.quiz_questions {
  flex: 1 1 69%;
}

.quiz_questions p {
  font-size: 1.8rem;
}

.quiz_questions p:nth-of-type(1) {
  font-family: "Poetsen One", sans-serif;
  color: #80932b;
}

.quiz_questions ul {
  list-style-type: none;
  font-size: 1.8rem;
}

.quiz_questions input {
  margin-right: 5px;
}

.quiz_questions label {
  text-indent: -23px;
}

.quiz_questions li:last-child {
  min-height: 2.7rem;
  margin-top: 15px;
  font-style: italic;
  color: rgb(255, 62, 62);
}


/* quiz images */
.quiz_images {
  flex: 0 1 auto;
}

.quiz_images_on {
  margin-top: 15px;
  flex: 0 1 31%;
}

.quiz_images_on figure {
  width: 100%;
}

.quiz_images_on img {
  width: 100%;
  object-fit: cover;
}


/* next question button */
.next_question_button {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next_question_button_start {
  padding: 0 40px;
  font-family: "Poetsen One", sans-serif;
  font-size: 1.8rem;
  line-height: 3.5rem;
  color: #ff66a3;
  border: none;
  border: 2px solid #ff66a3;
  border-radius: 6px;
  background-color: transparent;
  opacity: 0;
}

.next_question_button_end {
  opacity: 1;
}

.next_question_button_end:hover {
  color: #ff89b8;
  border-color: #ff89b8;
}

@media (min-width: 1700px) {
  .quiz_questions {
    flex: 1 1 75%;
  }

  .quiz_images_on {
    flex: 0 1 25%;
  }
}

@media (orientation: portrait) and (max-width: 576px) {
  .quiz_box_start {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 95%;
    padding: 20px 25px;
  }

  .quiz_box_end {
    width: 100%;
    transition: none;
  }

  .quiz_questions {
    flex: 0 1 100%;
  }

  .quiz_questions p {
    font-size: 1.7rem;
  }

  .quiz_questions ul {
    font-size: 1.7rem;
  }

  .quiz_questions li:last-child {
    min-height: 2.6rem;
    margin-top: 5px;
  }

  .quiz_images_on {
    margin-top: 0;
    flex: 1 1 auto;
  }

  .quiz_images_on figure {
    width: 65%;
    margin: 0 auto 10px auto;
  }

  .next_question_button {
    flex: 0 1 100%;
    align-self: center;
  }
}

@media (orientation: portrait) and (max-width: 576px) and (max-height: 780px) {
  .quiz_box_start {
    min-height: 99%;
    padding: 15px 20px;
  }

  .quiz_questions p {
    font-size: 1.4rem;
    margin-bottom: 5px;
  }

  .quiz_questions p:nth-of-type(1) {
    font-size: 1.6rem;
  }

  .quiz_questions ul {
    font-size: 1.4rem;
  }

  .quiz_questions li:last-child {
    min-height: 2.2rem;
  }

  .quiz_images_on {
    margin-top: 0;
    position: relative;
    top: -10px;
  }

  .quiz_images_on figure {
    width: 50%;
    margin: 3px auto;
  }

  .next_question_button {
    position: relative;
    top: -10px;
  }

  .next_question_button_start {
    font-size: 1.6rem;
    line-height: 3.3rem;
  }
}


/* quiz summary */
.quiz_summary {
  margin-top: 40px;
  text-align: center;
  font-family: "Poetsen One", sans-serif;
  font-size: 2.5rem;
  color: rgb(40, 40, 40);
}

.quiz_summary p:first-child {
  font-size: 3.5rem;
  margin-bottom: 25px;
}

.quiz_summary p:last-of-type {
  font-size: 4rem;
  margin-bottom: 15px;
}

.quiz_summary p:nth-last-of-type(2) {
  margin-bottom: 8px;
}

.quiz_summary p:last-of-type {
  color: #31724e;
}

.poor_quiz_score {
  color: #B81434 !important;
}

.quiz_summary img {
  width: 210px;
}

.summary_report_button {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 40px;
  font-family: "Poetsen One", sans-serif;
  font-size: 1.8rem;
  line-height: 3.5rem;
  color: #80932b;
  border: none;
  border: 2px solid #80932b;
  border-radius: 6px;
  background-color: transparent;
}

.summary_report_button:hover {
  color: #93a933;
  border-color: #93a933;
}

@media (orientation: portrait) and (max-width: 576px) {
  .quiz_summary p {
    padding: 0 20px;
    font-size: 2rem;
  }

  .quiz_summary p:first-child {
    font-size: 3rem;
    margin-bottom: 25px;
  }

  .quiz_summary p:last-of-type {
    font-size: 3.5rem;
    margin-bottom: 15px;
  }

  .quiz_summary img {
    width: 45%;
  }
}

@media (orientation: landscape) and (max-height: 650px) {
  .quiz_summary {
    margin-top: 30px;
    font-size: 2.3rem;
  }

  .quiz_summary p:first-child {
    font-size: 3.3rem;
    margin-bottom: 20px;
  }

  .quiz_summary p:last-of-type {
    font-size: 3.8rem;
    margin-bottom: 10px;
  }

  .quiz_summary p:nth-last-of-type(2) {
    margin-bottom: 6px;
  }

  .quiz_summary img {
    width: 190px;
  }

  .summary_report_button {
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0 40px;
    font-size: 1.6rem;
    line-height: 3.3rem;
  }
}
