.quiz_summary_report {
  padding: 20px 30px;
}

.quiz_question_list {
  position: relative;
  margin: 15px 0;
  padding: 0 30px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  border: 1px solid black;
  border-radius: 6px;
}

.quiz_question_list p:first-child {
  padding-top: 16px;
  text-align: center;
  font-weight: bold;
}

.quiz_question_list ul {
  list-style-type: none;
  padding-bottom: 8px;
}

.quiz_questions_list input {
  margin-right: 5px;
}

.quiz_question_list label {
  text-indent: -18px;
}

.quiz_question_list figure {
  position: absolute;
  bottom: 20px;
  right: 50px;
  width: 90px;
  height: 90px;
}

.quiz_question_list img {
  width: 100%;
  object-fit: cover;
}

.green_text {
  color: #31724e;
}

.red_text {
  color: #B81434;
}

@media (max-width: 1300px) {
  .quiz_summary_report {
    padding: 25px;
  }
}

@media (orientation: portrait) and (max-width: 576px) {
  .quiz_summary_report {
    padding: 20px 3px;
  }

  .quiz_question_list {
    margin: 10px 0;
    padding: 0 25px;
    font-size: 1.6rem;
  }
}
