.quiz_summary_report {
  padding: 20px 100px;
}

.quiz_question_list {
  margin: 15px 0;
  padding: 0 30px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  border: 1px solid black;
  border-radius: 6px;
}

.quiz_question_list p:first-child {
  padding-top: 16px;
  text-align: center;
  font-weight: bold;
}

.quiz_question_list ul {
  list-style-type: none;
  padding-bottom: 8px;
}

.quiz_questions_list input {
  margin-right: 5px;
}

.quiz_question_list label {
  text-indent: -18px;
}

.green_text {
  color: #31724e;
}

.red_text {
  color: #B81434;
}
