<div class="video_component_start container" [ngClass]="{'video_component_end': showVideoComponent}">
  <header class="video_list_header">
    <span>Edukacja florystyczna z </span><span>{{playlistAuthor}}</span>
  </header>

  <div class="video_list_box">
    <div class="video_list row">
      <section class="single_video col-sm-6 col-md-4 col-lg-3" *ngFor="let item of playlistItems">
        <a [href]="'video?id=' + item.snippet.resourceId.videoId">
            <img class="thumbnail" [src]="item.snippet.thumbnails.medium.url" [alt]="item.snippet.title"/>
        </a>
      </section>
    </div>
  </div>

  <a href="home" class="home_page_link"><p class="back_to_home_page">powrót do strony głównej</p></a>
</div>
