.container-fluid {
  padding: 0;
}


/* home page */
.home_page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../assets/black_desktop.jpg);
}

@media (orientation: landscape) and (max-width: 1080px) {
  .home_page {
    background-attachment: fixed;
  }
}

.background_image {
  background-attachment: fixed;
  background-image: url(../../assets/home_flowers_desktop.jpg);
  transition: background-image 0.6s;
}

.background_for_first_questions {
  background-image: url(../../assets/first_questions_flowers_desktop.jpg);
  transition: background-image 0.6s;
}

.background_for_second_questions {
  background-image: url(../../assets/second_questions_flowers_desktop.jpg);
  transition: background-image 0.6s;
}

.background_for_third_questions {
  background-image: url(../../assets/third_questions_flowers_desktop.jpg);
  transition: background-image 0.6s;
}

.home_page_summary_change {
  background-attachment: fixed;
  background-image: url(../../assets/home_flowers_desktop.jpg);
  transition: background-image 0.8s ease-out;
}

@media (max-width: 576px) {
  .home_page {
    background-image: url(../../assets/black_mobile.jpg);
  }

  .background_image {
    background-image: url(../../assets/home_flowers_mobile.jpg);
  }

  .background_for_first_questions {
    background-image: url(../../assets/first_questions_flowers_mobile.jpg);
  }

  .background_for_second_questions {
    background-image: url(../../assets/second_questions_flowers_mobile.jpg);
  }

  .background_for_third_questions {
    background-image: url(../../assets/third_questions_flowers_mobile.jpg);
  }
  .home_page_summary_change {
    background-image: url(../../assets/home_flowers_mobile.jpg);
  }
}


/* home page box */
.home_page_box_start {
  position: relative;
  margin-top: 110px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  padding: 25px;
  background-color: rgba(20, 20, 20, 0.65);
  border-radius: 6px;
  opacity: .0;
}

.home_page_box_end {
  opacity: 1;
  transition: all 0.8s ease-out;
}

@media (orientation: portrait) and (max-width: 576px) {
  .home_page_box_quiz_change {
    position: absolute;
    margin-bottom: 0;
    top: 0;
    bottom: 20px;
    display: block;
    padding: 20px;
    background-color: rgba(20, 20, 20, 0.35);
    transition: 0s;
  }

  .home_page_box_summary_report_change {
    position: relative;
    margin-bottom: 20px;
    top: auto;
    bottom: auto;
    display: flex;
    padding: 20px;
  }
}

.home_page_box_summary_change {
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.8s ease-out;
}


/* home page form */
.home_page_form {
  width: 80%;
  font-family: "Poetsen One", sans-serif;
}

.home_page_form p {
  margin: 10px auto;
  text-align: center;
  font-size: 2.5rem;
  color: #80932b;
}

.home_page_form p:nth-of-type(1) {
  margin-top: 4px;
}

.home_page_form p:nth-of-type(2) {
  color: #CCB4D4;
}

.home_page_form input {
  display: block;
  margin: 0 auto 26px auto;
  width: 80%;
  line-height: 3.5rem;
  text-align: center;
  font-size: 2.5rem;
  color: rgb(213, 213, 227);
  background-color: transparent;
  border: 2px solid #80932b;
}

.home_page_form input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 1.6rem;
  color: rgb(255, 62, 62);
}

#start_quiz_button_1 {
  background-image: url(../../assets/first_questions_button.jpg);
}

#start_quiz_button_2 {
  background-image: url(../../assets/second_questions_button.jpg);
}

#start_quiz_button_3 {
  background-image: url(../../assets/third_questions_button.jpg);
}

.start_quiz_button {
  display: block;
  width: 80%;
  line-height: 3.5rem;
  margin: 14px auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  border: 2px solid #CCB4D4;
  background-color: rgba(250, 250, 250, .6);
  background-blend-mode: screen;
}

.start_quiz_button:hover {
  color: rgb(213, 213, 227);
  border-color: rgb(213, 213, 227);
  background-blend-mode: normal;
}

.random_questions_button {
  display: block;
  width: 80%;
  height: 30px;
  margin: 10px auto 0 auto;
  font-size: 1.5rem;
  color: #CCB4D4;
  border: none;
  background-color: transparent;
}

.random_questions_button:hover {
  box-shadow: 0 0 0 0.5px rgb(228, 228, 236);
}

.random_questions_button div {
  width: 281px;
  margin: 0 auto;
}

.random_questions_button div>span {
  display: block;
  text-align: left;
}

.random_question_button_message {
  color: #ff66a3;
  margin-left: 10px;
}

.random_questions_button_on {
  color: #5FD35F !important;
}

.video_education_button {
  display: block;
  width: 80%;
  line-height: 3.5rem;
  margin: 24px auto 16px auto;
  font-size: 2.5rem;
  color: #B5B76B;
  border: 2px solid #B5B76B;
  background-color: transparent;
}

.video_education_button span:first-child {
  position: relative;
  top: -1.5px;
}

.video_education_button:hover {
  color: #9ea05e;
  border-color: #9ea05e;
}

.material-symbols-outlined {
  position: relative;
  top: 3px;
  left: 5px;
}


@media (max-width: 992px) {
  .home_page_form input {
    width: 80%;
  }

  .start_quiz_button {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .home_page_box_start {
    margin-top: 100px;
    background-color: rgba(20, 20, 20, 0.50);
  }

  .home_page_box_quiz_change {
    background-color: rgba(20, 20, 20, 0.35);
  }

  .home_page_box_summary_change {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media (max-width: 576px) {
  .home_page_form p {
    font-size: 2.3rem;
  }

  .home_page_form input {
    line-height: 3.3rem;
    font-size: 2.3rem;
  }

  .start_quiz_button {
    line-height: 3.3rem;
    font-size: 2.8rem;
  }

  .random_questions_button {
    font-size: 1.3rem;
    box-shadow: 0 0 0 0.5px rgb(228, 228, 236);
  }
  .random_questions_button div {
    width: 230px;
  }

  .video_education_button {
    font-size: 2.3rem;
  }
}

@media (max-width: 500px) {
  .video_education_button {
    font-size: 2rem;
  }
}

@media (max-width: 470px) {
  .home_page_box_start {
      margin-top: 135px;
  }

  .home_page_form {
    width: 100%;
  }
}

@media (max-width: 385px) {
  .home_page_form input {
    width: 90%;
  }

  .start_quiz_button {
    width: 90%;
  }

  .random_questions_button {
    width: 90%;
  }

  .video_education_button {
    width: 90%;
  }
}

@media (max-width: 360px) {
  .home_page_box_start {
    margin-top: 127.5px;
  }
}


@media (orientation: landscape) and (max-height: 650px) {
    .home_page_form p {
    margin: 8px auto;
    text-align: center;
    font-size: 2.3rem;
    color: #80932b;
  }

  .home_page_form p:nth-of-type(1) {
    margin-top: 4px;
  }

  .home_page_form input {
    margin: 0 auto 20px auto;
    line-height: 3.3rem;
    font-size: 2.3rem;
  }

  .start_quiz_button {
    line-height: 3.3rem;
    margin: 12px auto;
    font-size: 2.8rem;
  }

  .random_questions_button {
    height: 28px;
    margin: 9px auto 0 auto;
    font-size: 1.4rem;
  }

  .video_education_button {
    line-height: 3.3rem;
    margin: 20px auto 16px auto;
    font-size: 2.3rem;
  }

  .home_page_box_start {
    min-height: 450px;
    padding: 20px;
  }
}


/* home page motto */
.home_page_motto {
  margin: 20px 150px 0 0;
  padding-bottom: 20px;
}

.home_page_motto>p {
  text-align: right;
  font-family: "Kalam", cursive;
  font-size: 1.8rem;
  color: #b286c0;
  margin-bottom: 0px;
}

.home_page_motto>p:last-child {
  margin-right: 30px;
  font-size: 1.4rem;
}

@media (min-width: 1600px) {
  .home_page_motto {
    margin: 20px 300px 0 0;
  }
}

@media (max-width: 992px) {
  .home_page_motto {
    margin: 20px 80px 0 0;
  }
}

@media (max-width: 768px) {
  .home_page_motto>p span {
    display: block;
  }
}

@media (orientation: landscape) and (max-height: 650px) and (min-width: 1080px) {
  .home_page_motto {
    position: fixed;
    top: 38.5px;
    right: 40px;
    z-index: 2;
    margin: 0;
    padding-bottom: 0;
  }

  .home_page_motto>p {
    color: #CCB4D4;
    font-size: 1.6rem;
  }

  .home_page_motto>p:last-child {
    font-size: 1.2rem;
  }
}

@media (orientation: portrait) and (max-width: 576px) and (max-height: 760px) {
  .home_page_motto {
    margin: 0px 80px 0 0;
  }

  .home_page_motto>p {
    font-size: 1.6rem;
  }

  .home_page_motto>p:last-child {
    font-size: 1.2rem;
  }
}
